body {
    background: #eceff1;
}

text {
    fill: #B0BEC5;
}

div.noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    fill: #B0BEC5;
}

div.noUi-value.noUi-value-horizontal.noUi-value-large {
    color: #B0BEC5;
}

.domain {
    opacity: 0;
}

#tooltip-container {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid;
    display: none;
}

.tooltip_key {
    font-weight: bold;
}

.tooltip_value {
    margin-left: 20px;
    font-weight: normal;
    float: right;
}

div.noUi-connect {
    background: #B0BEC5;
}
