body {
    background: #eceff1;
    font-family: 'Droid Sans', sans-serif;
}

text {
    fill: #90A4AE;
    font-family: 'Droid Sans', sans-serif;
    color: #2d2a2b;
    font-size: .75rem;
}

.domain {
    opacity: 0;
}

.tooltip_key {
    font-weight: bold;
}

.tooltip_value {
    margin-left: 20px;
    font-weight: normal;
    float: right;
}

.ui.center.aligned.header {
    position: absolute;
}

.ui.selection.dropdown {
    padding: 0;
    text-align: right;
    color: #2d2a2b;
    font-size: .75rem
}

div.middle.aligned.center.aligned.one.column.grid {
    height: 100%;
}

div.middle.aligned.center.aligned.one.column.grid div.column {
    width: fit-content;
}

div.noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    fill: #B0BEC5;
    height: 5px;
}

div.noUi-value.noUi-value-horizontal.noUi-value-large {
    color: #B0BEC5;
    font-size: .75rem;
}

div.noUi-connect {
    background: #5e97f6;
    border: none;
}

div.noUi-horizontal {
    height: 3px;
    border: none;
}

div.noUi-horizontal div.noUi-handle {
    height: 14px;
    width: 14px;
    border: none;
    border-radius: 100%;
    left: -7px;
    background: #5e97f6;
    box-shadow: none;
}

div.noUi-handle::before {
    display: none;
}

div.noUi-handle::after {
    display: none;
}

#tooltip-container {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid;
    display: none;
}

#map-container {
    position:relative;
    width: 66%;
    display: inline-block;
}

#legend-container {
    position: absolute;
    top: 95%;
    left: 60%;
    height: 1%;
    width: 30%;
}

#bar-container {
    width: 33%;
    display: inline-block;
}

#line-container {
    width: 100%;
    display: block;
}

#slider-container {
    width: 100%;
    display: block;
}

#title {
    font-size: 3rem;
    position: absolute;
    top: 4%;
    display: block;
    padding-left: 41%;
    color: #B0BEC5;
}

#reset {
    top: 3.5%;
    margin-left: 9%;
    z-index: 99999;
    display: inline-block;
    position:absolute;
}
